<%= image_tag("bgflowers.png", :id=>"bgpos") %>
<div class="centerup">

<center>
	<div class="row-fluid">
		<div class="span2 mystyle">
			<h3><font color="#009966"><%= link_to "Honor Your Loved One", createHonored_path %></font></h3>
			<p class="lead">Click here to create your personalized page to honor your loved one</p>
		</div>
		<div class="span2 mystyle">
			<h3><font color="#009966"><%= link_to "Update a Loved One's Page", updateHonored_path %></font></h3>
			<p class="lead">Click here to update your honoreds page</p>
		</div>
		<div class="span2 mystyle">
			<h3><font color="#009966"><%= link_to "Donate to a Loved One", donationIndex_path %></font></h3>
			<p class="lead">Click here to view and search for a loved ones page to honor them with your donation</p>
		</div>
	</div>
</center>

<div class="row-fluid" style="margin-top:150px">
	<div class="span3">
		<h3>About Us</h3>
	</div>
	<div class="span4">
		<h3>News</h3>
	</div>
	<div class="span4">
		<h3>Latest Events</h3>
	</div>
</div>


</div>