<div class="row-fliud">
	<div class="mystyle span3">
		<ul class="unstyled">
			<%= link_to "Add a loved one", new_honored_path, class: 'btn btn-success' %>
			<%= link_to "Make a donation", new_donation_path, class: 'btn btn-success' %>
			<%= link_to "Register an organization", new_organization_path, class: 'btn btn-success' %>
		</ul>
	</div>
	<div class="mystyle span7">
		<h3>Honored you have added</h3>
		<p>
			These are the honored that you have added to the system. 
			Click on them to view their detailed
			information.
		<p>
		<ul class='unstyled'>
			<% if defined?(@honored) && !@honored.empty? %>
				<% for honored in @honored %>
					<li><%= link_to honored.first_name+" "+honored.last_name, honored_path(honored) %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>