<div id="wrapper">
<div class="row">
<div class="span8 offset2">
<%= image_tag("flowers.png") %>
<p class="lead">
	Helping Families Commemorate Loved Ones
</p>
<h1>Main#help</h1>
<h2>This is Jason'sss Page</h2>
<p>Find me in app/views/main/help.html.erb</p>
</div>
</div>