<div class="row-fluid">
	<div class="span8 offset2">
		<h3>Donation Complete</h3>
		<p>Thank you for your donation.</p>
		<%= link_to "Back to dashboard", dashboard_path, class: "btn btn-success btn-block" %>
	</div>
</div