btn btn-success btn-block
			<%= link_to "Delete", @honored, method: :delete, 
				class: "btn btn-danger btn-large",
				:data => { :confirm => "Are you sure?" } %>
		<% end %>

		<%= link_to "Make Donation", 
			donations_path(honored_id: @honored.id), 
			method: :post, class: "btn btn-success btn-large" %>
	</div>
</div>