<div class="row-fluid">
	<div class="span7">
		<h1>Organizations</h1>
		<p>These are the organizations added to your account.</p>
		<ul>
			<% for organizations in @organizations
		</ul>
	</div>
</div>