header.page-header
{
	margin-top: 60px;
}
.mystyle{
background-color:#eff1c7; 
padding:20px;
-webkit-border-radius:7px 7px;
border-radius: 7px 7px;
-moz-border-radius:7px 7px;

border:thin solid #666;

box-shadow: 5px 5px #888;


}
.centerup{margin-left:20%;
	margin-right:auto;
	width: 1200px;


}

.contactus{margin-top:50px;
margin-left:40%;

}