<div class="row-fluid">
	<div class="mystyle span8 offset2">
		<ul>
  			<% for organization in @organization %>
   				<li>
   					<ul>
   						<li><%= link_to organization.name, organization %></li>
    					</ul>
   				</li>
  			<% end %>
		</ul>
		<%= will_paginate @organization, :renderer => BootstrapPagination::Rails %>
	</div>
</div>
