<div class="row-fluid">
	<div class="mystyle span8 offset2">
		<ul>
  			<% @organization.each do |organization| %>
   				<li>
   					<ul>
   						<li><%= organization.name %></li>
    					</ul>
   				</li>
  			<% end %>
		</ul>
		<%= will_paginate @organization, :renderer => BootstrapPagination::Rails %>
	</div>
</div>
