<header class="page-header">
  <div class="container">
    <center><%= image_tag("flowers.png") %>
    <p class="lead">
    	Helping Families Commemorate Loved Ones
    </p></center>
  </div>
</header>